################################################################################
# Visual Studio
################################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Build
################################################################################

[Bb]in/
[Oo]bj/
publish/

################################################################################
# Rider / JetBrains
################################################################################

.idea/
*.DotSettings.user

################################################################################
# NuGet
################################################################################

packages/
*.nupkg

################################################################################
# Logs
################################################################################

logs/
*.log

################################################################################
# Environment
################################################################################

.env
.env.*
!.env.example

################################################################################
# Certificates / Keys
################################################################################

*.pfx
*.p12
*.pem
*.key
*.cer

################################################################################
# Windows
################################################################################

Thumbs.db
desktop.ini

################################################################################
# Mac
################################################################################

.DS_Store